body {
  font-family: "Helvetice Neue", Helvetica, Aria;
  font-size: 14px;
  color: #474747;
  background-image: url(http://www.tfstoolbox.com/bg_small_gray_dots.gif);
  background-color: #D1D1D1;
  background-attachment: fixed;
  z-index: 100;
}
body .row {
  margin: 0;
  padding: 0;
}
body .row nav {
  background-color: rgba(255, 255, 255, 0.8);
}
body .row nav ul li a {
  color: #6b6b6b;
}
body .row .content {
  height: 2000px;
}
body .banner {
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 460px;
  width: 100%;
}
body .banner .title-text {
  margin-top: 200px;
}
body hr.partition {
  border-top: 4px double #48087A;
  text-align: center;
  margin: 30px 70px;
}
