body{
	@color: #D1D1D1;
	@darkColor: darken(@color, 40%);
	font-family: "Helvetice Neue", Helvetica,Aria;
	font-size: 14px;
	color: #474747;
	background-image: url(http://www.tfstoolbox.com/bg_small_gray_dots.gif);
	background-color: @color;
	background-attachment: fixed;
	z-index: 100;
	.row{
		margin: 0;
		padding: 0;
		nav{
			background-color: rgba(255,255,255,.8);
			ul{
				li{
					a{
						color: @darkColor;
					}
				}
			}
		}
		// Main content
		.content{
			height: 2000px;
		}
	}
	.banner{
		// background-image: url(http://static.hdw.classifiedadsites.org/media/wallpapers_1920x1080/typography/1/1/binary-code-typography-hd-wallpaper-1920x1080-2619.png);
	    background-position: center top;
	    background-repeat: no-repeat;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    -webkit-background-size: cover;
	    background-size: cover;
	    min-height: 460px;
	    width: 100%;
	    .title-text{
	    	margin-top: 200px;
	    }
	}
	hr.partition{
		border-top: 4px double darken(@darkColor,20%);
		text-align: center;
		margin: 30px 70px;
	}
}