body {
  font-family: "Helvetice Neue", Helvetica, Aria;
  font-size: 16px;
  color: #474747;
  background-image: url(../img/bg_small_gray_dots.gif);
  background-color: #d1d1d1;
  background-attachment: fixed;
  z-index: 100;
}
.row,
.container {
  padding: 0;
}
.row {
  margin: 0;
}
nav {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 20px;
}
nav ul li a {
  height: 50px;
}
nav ul li a a:hover,
nav ul li a a:focus {
  color: #6b6b6b;
}
#banner {
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 460px;
  width: 100%;
}
#banner .title-text {
  margin-top: 200px;
  margin-bottom: 100px;
}
#banner p {
  max-width: 400px;
  margin: 10px auto;
}
#banner .btn {
  margin: 7px;
}
#skills table tr {
  background-color: rgba(180, 180, 180, 0.3);
}
#skills table.table-hover tr:hover {
  background-color: rgba(150, 150, 150, 0.5);
}
#works .wrapper {
  margin-bottom: 10px;
}
#works .wrapper a {
  text-decoration: none;
}
#works .wrapper a > .img-title {
  height: 200px;
  overflow: hidden;
}
#works .wrapper a > .img-title img {
  background-size: cover;
  width: 100%;
  height: inherit;
}
#works .wrapper a > .img-title > .title {
  width: 100%;
  min-height: 90px;
  background-color: rgba(50, 50, 50, 0.7);
  position: relative;
  top: -40px;
  padding: 2px 4px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
#works .wrapper a > .img-title > .title h4 {
  color: orange;
}
#works .wrapper a > .img-title > .title p {
  padding: 0 4px;
  color: #fff;
}
#works .wrapper a > .img-title:hover .title {
  top: -90px;
}
#footer {
  min-height: 250px;
  background-color: rgba(120, 20, 140, 0.6);
}
#footer .footer-top {
  padding-top: 30px;
}
#footer .footer-top ul.socials {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer .footer-top ul.socials li {
  display: inline-block;
}
#footer .footer-top ul.socials li a,
#footer .footer-top ul.socials li a:hover,
#footer .footer-top ul.socials li a:focus {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
#footer .footer-top a {
  color: #474747;
  font-size: 1.1em;
}
#footer .footer-top a > i {
  color: #fff;
}
#footer .footer-bottom {
  font-weight: padding: 20px;
}
#map {
  width: 100%;
  height: 200px;
}
.white {
  color: #FFFFFF;
}
.bold {
  font-weight: bold;
}
a,
a:hover,
a:focus {
  color: rgba(120, 20, 140, 0.6);
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 30px;
}
hr.partition {
  border-top: 4px double rgba(120, 20, 140, 0.6);
  text-align: center;
  margin: 30px 70px;
}
