body {
  font-family: "Helvetice Neue", Helvetica, Aria;
  font-size: 14px;
  color: #474747;
  background-image: url(../img/bg_small_gray_dots.gif);
  background-color: #D1D1D1;
  background-attachment: fixed;
  z-index: 100;
}
body .row {
  margin: 0;
  padding: 0;
}
body .row nav {
  background-color: rgba(255, 255, 255, 0.8);
}
body .row nav ul li a {
  height: 50px;
  color: #6b6b6b;
}
body #banner {
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 460px;
  width: 100%;
}
body #banner .title-text {
  margin-top: 200px;
}
body #footer {
  height: 250px;
  background-color: rgba(120, 20, 140, 0.6);
}
body #footer .footer-bottom {
  padding: 20px;
}
body hr.partition {
  border-top: 4px double rgba(120, 20, 140, 0.6);
  text-align: center;
  margin: 30px 70px;
}
