html
	include ./pages/head.jade
	body
		-var mainLink = '/', author = 'Evgeniy Vakulenko'
		.row.banner
			header#header
				.container
					//Menu start 
					nav.navbar.navbar-fixed-top
						.container
							.navbar-header
								button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#menu", aria-expanded="false")
									span.sr-only Toggle
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a(href="#{mainLink}").navbar-brand My Logo
							.collapse.navbar-collapse#menu
								- var menu = [{name:'Main',link:'/'},{name:'About',link:'#'},{name:'Skills',link:'#'},{name:'Portfolio',link:'#'},{name:'Tasks',link:'#'}]
								ul.nav.navbar-nav.navbar-right
									- each val in menu
										li
											a(href="#{mainLink + val.link}") #{val.name}
					//Menu end
			.container
				.col-md-10.col-md-offset-1
					.text-center.title-text
						h1.text-uppercase Hello, my Name #{author}.
						p I'm glad to differentiate amoungst you at a party!
		.row#content
			.content
		//- Footer 
		include ./pages/footer.jade