html(lang="en")
	include ./pages/head.jade
	body
		-var mainLink = '/', author = 'Evgeniy Vakulenko'
		include ./pages/header.jade
		//Main Content start
		.row#content
			.content
				//- include ./pages/home.jade
				//Feature start
				.row#feature
					.container
						.row
							- for(var i=0;i<6;i++)
								.col-md-4.col-sm-6.text-center
									i.fa.fa-4x.fa-desktop
									.feature-content
										h5 Lorem ipsum dolor.
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta aliquam illum magni commodi porro in harum veniam libero optio incidunt?
					hr.partition
				//Feature end
				//Portfolio start
				.row#portfolio
					.container
					hr.partition
				//Portfolio end

		//Main Content end
		//- Footer 
		include ./pages/footer.jade
		include ./pages/scripts.jade