<!DOCTYPE html>
html(lang="en")
	include ./pages/head.jade
	body#body
		//- Constants
		include ./pages/vars.jade
		//- Constants
		include ./pages/header.jade
		//Main Content start
		.row#content
			.content
				//- include ./pages/home.jade
				//about start
				.row#about
					.container
						h1 about me
				hr.partition
				//about end
				//skills start
				.row#skills
					.container
						h3 Перечень моих навыков.
							br
							small!= '1 - Базовый, 2 - Среднее, 3 - Бывалый, 4 - Джедай'
						table.table.table-striped.table-hover.table-bordered
							thead
								tr
									- each i in ['skill','level','description']
										th= i
							tbody
								+skills('HTML 4/5',3,'умело пользуюсь полным набором его возможностей, также использую jade')
								+skills('CSS3',3,'уверенно юзаю селекторы, использую препроцессоры <b>Less</b> & <b>Sass</b>, фреймворки <b>bootstrap 3</b>')
								+skills('Bootstrap',3,'','//getbootstrap.com/getting-started/')
								+skills('Less',3,'','//lesscss.org/')
								+skills('Jade',3,'','//jade-lang.com/')
								+skills('JavaScript',2,'')
								+skills('jQuery',2,'','//jquery.com/')
								+skills('AngularJS',1,'','//angularjs.org/')
								+skills('NodeJS',1,'','//nodejs.org/en/')
								+skills('PHP',2,'','//php.net/')
								+skills('MySQL',1,'есть опыт работы с базамиданных')
						h3 Перечень используемых программ и другого.
							br
							small!= '1 - Базовый, 2 - Продвинутый, 3 - Бывалый, 4 - Джедай'
						table.table.table-striped.table-hover.table-bordered
							thead
								tr
									- each i in ['programm','level','description']
										th= i
							tbody
								+skills('GitHub',2,'','//github.com/')
								+skills('Gist',2,'','//gist.github.com/')
								+skills('PhotoShop CC',2,'')
								+skills('Sublime Text 3',4,'','//www.sublimetext.com/3')
								+skills('PHPStorm',4,'','//www.jetbrains.com/phpstorm/')
								+skills('плагин Emmet',4,'','//emmet.io/')
								+skills('использование CMS',2,'Joomla, WP, CMS Minecraft Shop, Opencart')
				hr.partition
				//skills end
				//Portfolio start
				.row
					.container#portfolio
					hr.partition
				//Portfolio end
				//Contact start
				include ./pages/contact.jade
				//Contact end
		//Main Content end
		//- Footer 
		include ./pages/footer.jade
		include ./pages/scripts.jade