<!DOCTYPE html>
html(lang="en")
	include ./pages/head.jade
	body
		//- Constants
		include ./pages/vars.jade
		//- Constants
		include ./pages/header.jade
		//Main Content start
		.row#content
			.content
				//- include ./pages/home.jade
				//skills start
				//skills end
				//Portfolio start
				.row
					.container#portfolio
					hr.partition
				//Portfolio end
				//Contact start
				include ./pages/contact.jade
				//Contact end
		//Main Content end
		//- Footer 
		include ./pages/footer.jade
		include ./pages/scripts.jade