html(lang="en")
	include ./pages/head.jade
	body
		//- Constants
		-var mainLink = '/', author = 'Evgeniy Vakulenko'
		- var socials = [{link:'http://vk.com/vakula_e_g',icon:'vk'},{link:'https://www.facebook.com/profile.php?id=100004015285077',icon:'facebook'},{link:'https://www.linkedin.com/in/%D0%B5%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9-%D0%B2%D0%B0%D0%BA%D1%83%D0%BB%D0%B5%D0%BD%D0%BA%D0%BE-bb422910a?trk=nav_responsive_tab_profile',icon:'linkedin'},{link:'https://plus.google.com/u/0/110067773716162418802',icon:'google-plus'}]
		- var menu = [{name:'Main',link:'/'},{name:'Features',link:'#'},{name:'Works',link:'#'},{name:'About me',link:'#'}]
		//- Constants
		include ./pages/header.jade
		//Main Content start
		.row#content
			.content
				//- include ./pages/home.jade
				//Feature start
				.row#feature
					.container
						.row
							- for(var i=0;i<6;i++)
								.col-md-4.col-sm-6.text-center
									i.fa.fa-4x.fa-desktop
									.feature-content
										h5 Lorem ipsum dolor.
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta aliquam illum magni commodi porro in harum veniam libero optio incidunt?
					hr.partition
				//Feature end
				//Portfolio start
				.row
					.container#portfolio
					hr.partition
				//Portfolio end
				//Contact start
				include ./pages/contact.jade
				//Contact end
		//Main Content end
		//- Footer 
		include ./pages/footer.jade
		include ./pages/scripts.jade