html
	head
		//- style
		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="bower_components/animate.css/animate.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="css/main.css")
		//- scripts
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="bower_components/flexslider/jquery.flexslider-min.js")
	body
		.jumbotron
			.container
				h1 Hello, my name 1ncrement.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae delectus suscipit tempore, fugit accusamus, inventore sunt quod ullam saepe consequuntur quasi illo, odit reprehenderit dolorum tempora nisi. Architecto, maiores, aspernatur?