<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Random Items</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

	<div class="content text-center">
		<div id="container">
			<div id="cards"></div>
		</div>
		<button id="start" class="btn btn-block btn-success">Start</button>
		<a href="http://1ncrement.github.io/port/" class="btn btn-info btn-block">GitHub</a>
	</div>
	<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>