.row#footer
	.footer-top
		.container
			.col-md-4
				h5 Contacts
				address
					= 'My contact addr.'
					br
					= 'state Ukraine'
					br
					= 'sity Kharkov'
					abbr(title='Phone number') 095-196-98-58
			.col-md-4
			.col-md-4
	.footer-bottom
				p.text-center
					= 'Copyright © 2016 ActiveBox. All Rights Reserved'
					br
					= 'with '
					i.fa.fa-heart
					= ' My self '
					i.fa.fa-smile-o