head
	//- style
	link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
	link(rel="stylesheet" href="bower_components/animate.css/animate.min.css")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="css/main.css")
	//- scripts
	script(src="bower_components/jquery/dist/jquery.min.js")
	script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
	script(src="bower_components/flexslider/jquery.flexslider-min.js")