//Header start
.row.banner
	header#header
		.container
			//Menu start
			include ./menu.jade
			//Menu end
	//Header title start
	.container
		.col-md-10.col-md-offset-1
			.text-center.title-text
				h2.text-uppercase Hello, my Name #{author}.
				p I'm glad to differentiate amoungst you at a party!
	//Header title end
//Header end