//Header start
.row#banner
	header#header
		.container
			//Menu start
			include ./menu.jade
			//Menu end
	//Header title start
	.container
		.col-md-10.col-md-offset-1.text-center
			.title-text
				h2.text-uppercase Добро пожаловать
				p на сайт резюме.
				p Данная страница была создана для демонстрации приблизительных способностей автора.
				p Для написания данного сайта использовались Руки, Jade и Less.
			a(href="//github.com/1ncrement/port" target="_blank").btn.btn-info.btn-lg 
				i.fa.fa-github-square
				= ' Git repository'
			br
			a(href="//github.com/1ncrement/port/archive/gh-pages.zip").btn.btn-success.btn-xs Download .zip
	//Header title end
//Header end
hr.partition