<!DOCTYPE html>
<html lang="en">
<head>
	<!-- TODO:
	шапку сделать чутка меньше 200-300 px
	добавить социалки в правый верхний угол в шапке
	исправить меню, а то полный калл

	Menu:
	главная, о нас, альбом, сотрудничество, контакты

	Анимация появления -
		сотрудничество, о нас

	Conatent:
	невероятное сочетание мягкого и одновременно насщенного курения

	Меню -
		при скроле меню липнет на верх белого цвета (возможно анамент или фото на bg)

	Пункты -
		сделать градиент из белого в тёмный белый
		между пунктами вставки полезных советов и фишек + интересные вопросы с тёмным фоном они должны быть случайны

	Главная -
		шапка + телефон + лого + название + социалки
		шапка: дым тусклый еле видный + логотип + кальян слева силует

	О нас -
		по ширене всей странице не большой высоты (как панарама)
		заголовок + фото + текст
		одно фото рабочего коллектива + пару слов о нас 2-5 предложений

	Альбомы -
		фото рабочей среды + работы + готовые кальяны
		видео как курим + как делаем

	Сотрудничество -
		Мы можем действительно всё, что связано с кальянамм делом
		3 отдела фоток из фотографий калашей (2 фото процеса приготовления + 1 фото готового варианта)
		фото зала + рабочей среды
		animation.css вылет

	-->
	<title>Hookah Favourite</title>
	<!-- Meta tag -->
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <!-- <link rel="stylesheet" href="css/jquery.bxslider.css"> -->
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/style.css"></head>
<body class="white" id="body">
	<div class="container-fluid">
		<!-- start header-->
		<div class="row bgimg"></div>
		<div class="row header">
			<div class="container header-text">
				<div class="col-xs-3 logo text-right">
					<img src="img/logo.png" alt="">
				</div>
				<div class="col-xs-9 text-right">
					<div class="header-right">
						<h1 class="header-name">Hookah Favourite</h1>
						<div class="socials">
							<ul class="list-inline">
								<li><a href="#"><i class="fa fa-vk fa-2x"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
								<li><a href="#"><i class="fa fa-skype fa-2x"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube fa-2x"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
								<li><a href="#"><i class="fa fa-phone fa-2x"></i></a></li>
							</ul>
						</div>
						<div class="contacts"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- end header-->
		<!-- start about us-->
		<div class="row about-us">
			<div class="container">
				<div class="row text-center">
					<h1>О нас</h1>
					<h5 style="max-width: 650px; margin: 40px auto;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consectetur consequatur deserunt doloremque ducimus enim ex, facere harum illo inventore iure magnam minima mollitia nemo nihil nostrum perferendis quasi quos recusandae unde. Dolores eveniet fuga illo impedit magnam, nam nostrum odit omnis, pariatur quo, saepe similique sit totam ullam ut.</h5>
					<img src="http://placehold.it/470x280" alt="">
				</div>
			</div>
		</div>
		<!-- end about us-->
		<!-- start any advice-->
		<div class="row white-bg advice">
			<div class="container text-center">
				<h1>Мы знаем, что Вы хотите.</h1>
			</div>
		</div>
		<!-- end any advice-->
		<!-- start cooperation-->
		<div class="row grey-bg">
			<div class="container">
				<h1 class="text-center">Сотрудничество</h1>
				<h4 class="text-center" style="max-width: 650px; margin: 40px auto;">Мы можем действительно всё, что связано с кальянамм делом.</h4>
				<div class="row">
					<div class="col-xs-4 text-center">
						<div class="img-kallash"><img src="//placehold.it/120x40" alt=""><img
								src="//placehold.it/120x40" alt=""><img src="//placehold.it/120x40" alt=""><img
								src="//placehold.it/120x40" alt="">

							<p>lorem ipsum bla bla bla text awesome</p>
						</div>
					</div>
					<div class="col-xs-4 text-center">
						<div class="img-kallash"><img src="//placehold.it/120x40" alt=""><img
								src="//placehold.it/120x40" alt=""><img src="//placehold.it/120x40" alt=""><img
								src="//placehold.it/120x40" alt="">

							<p>lorem ipsum bla bla bla text awesome</p>
						</div>
					</div>
					<div class="col-xs-4 text-center">
						<div class="img-kallash"><img src="//placehold.it/120x40" alt=""><img
								src="//placehold.it/120x40" alt=""><img src="//placehold.it/120x40" alt=""><img
								src="//placehold.it/120x40" alt="">

							<p>lorem ipsum bla bla bla text awesome</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end cooperation-->
	</div>
	<!-- Latest compiled and minified CSS -->
	<script type="text/javascript" src="//www.google-analytics.com/analytics.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
	<!-- <script type="text/javascript" src="js/jquery.waypoints.min.js"></script> -->
	<script type="text/javascript" src="js/waypoints.min.js"></script>
	<!-- <script type="text/javascript" src="js/jquery.hashchange.min.js"></script> -->
	<!-- <script type="text/javascript" src="js/jquery.easytabs.min.js"></script> -->
	<script type="text/javascript" src="js/jquery.smoothscroll.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?callback=initMap" async="" defer=""></script>
    <script type="text/javascript">//<![CDATA[
		$(document).bind( 'mousewheel', function (e) { 
			var st = $(this).scrollTop();
			console.log(st/100);
		});

        // smooth scroll points
		function scrollMenu(item){
			$('html, body').animate({scrollTop:$(item).position().top}, 1000);
		}

		// animate
        $(function(){
            function onScrollInit( items, trigger ) {
                items.each( function() {
                var osElement = $(this),
                    osAnimationClass = osElement.attr('data-os-animation'),
                    osAnimationDelay = osElement.attr('data-os-animation-delay');
                  
                    osElement.css({
                        '-webkit-animation-delay':  osAnimationDelay,
                        '-moz-animation-delay':     osAnimationDelay,
                        'animation-delay':          osAnimationDelay
                    });

                    var osTrigger = ( trigger ) ? trigger : osElement;
                    
                    osTrigger.waypoint(function() {
                        osElement.addClass('animated').addClass(osAnimationClass);
                        },{
                            triggerOnce: true,
                            offset: '70%'
                    });
                });
            }

            onScrollInit( $('.anim') );
            onScrollInit( $('.g-anim'), $('.g-anim-container') );
		});//]]>  
    </script>
	<script>
		// map
		function initMap() {
			var mapDiv = document.getElementById('map');
			var map = new google.maps.Map(mapDiv, {
				center: {lat: 50.01711564, lng: 36.33028507},
				zoom: 13,
				scrollwheel: false
			});
		}

		// analitics
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-74366337-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>