<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<style>
		.margin-300{
			margin: 300px auto;
		}
		.paralax-body>.row{
			position: absolute;
			height: 100vh;
		}
		.paralax-2{
			-webkit-background-size: cover;
			background-size: cover;
			background-image: url(img/paralax1.jpg);
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row paralax-body">
			<div class="row paralax-2">
			</div>
			<div class="row">
				<h2 class="text-center margin-300">Title text</h2>
			</div>
		</div>
	</div>
	<section></section>
</body>
</html>