.row#footer
	.footer-top
		.container
			.col-md-4.text-center
				h5.white.bold Contacts
				address
					!= '<strong>My contact addr.</strong>'
					br
					= 'state: Ukraine'
					br
					= 'sity: Kharkov'
					br
					= 'mail: '
						a(href="mailto:vakulenko.kname@gmail.com") vakulenko.kname@gmail.com
					br
					= 'MTC: '
					abbr(title='Phone number') +38-095-196-98-58
					br
					a(href="skype:diabolik9244?chat")
						i.fa.fa-skype 
						= ' Skype Chat'
					br
					a(href="viber://chat:+380951969858")
						i.fa.fa-phone 
						= ' Viber Chat'
			.col-md-4.text-center
				h5.white.bold Socials
				ul.socials.text-center
					- each val in socials
						li
							a(href="#{val.link}", target="_blank")
								span.fa-stack.animated
									i.fa.fa-square-o.fa-stack-2x
									i(class="fa fa-#{val.icon} fa-stack-1x")
			.col-md-4.text-center
				h5.white.bold Author info
				p
					='name: '
					b.authorName #{author}
				p
					='age: '
					b.authorAge #{now.getFullYear() - age.getFullYear()}
	.footer-bottom
		p.text-center
			!= 'Copyright © 2016 ActiveBox. All Rights Reserved <br>with '
			i.fa.fa-heart
			= ' My self '
			i.fa.fa-smile-o